name: Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy via SSH
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        script: |
          export PATH=$PATH:$HOME/.bun/bin:/usr/local/bin:/usr/bin:/bin
          [ -s "$HOME/.bashrc" ] && source "$HOME/.bashrc"
          [ -s "$HOME/.nvm/nvm.sh" ] && source "$HOME/.nvm/nvm.sh"
          cd Desktop/autoclaim-bot
          git pull origin main
          bun install
          pm2 restart autoclaim-bot
          pm2 save
